<head>
  <script src="https://kit.fontawesome.com/66b6df2c42.js" crossorigin="anonymous"></script>
</head>

<header>

  <nav ngxNavbarDynamicExpand class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="nav-brand" routerLink="/">
        <img src="./assets/images/logo.svg" class="me-3" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ngx-navbar-collapse #collapse="ngxNavbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" *ngIf="(accountService.user$ | async)">
            <a href="" class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="(accountService.user$ | async) === null">
          <li class="nav-item">
            <a href="" class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active">
              Register
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">
              Login
            </a>
          </li>
        </ul>

        <div class="d-flex align-items-center" *ngIf="(accountService.user$ | async) as user">
          <a class="" style="text-decoration: none; cursor:pointer;">
            Hello <span class="h6 text-primary">{{ user.firstName || user.lastName | titlecase }}</span>
          </a>
          <a class="btn btn-secondary ms-2" (click)="logout()">Logout</a>
        </div>
      </ngx-navbar-collapse>
    </div>
  </nav>
</header>
