<div class="container">
  <div class="d-flex rounded justify-content-center">
    <div class="col-12 col-lg-5">
      <main class="form-signin">
        <div class="rounded bg-light p-4 shadow-sm">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="text-center mb-4">
              <h3 class="mb-3 font-weight-normal">Login</h3>
            </div>
            <div class="form-floating mb-3">
              <input formControlName="username" type="text" placeholder="email" class="form-control" id="email"
              [class.is-invalid]="submitted && loginForm.get('username')?.errors">
              <label for="email">E-mail</label>
              <span class="text-primary" *ngIf="submitted && loginForm.get('username')?.hasError('required')">
                E-mail is required
                </span>
            </div>
            <div class="form-floating mb-3">
              <input formControlName="password" type="password" placeholder="Password" class="form-control" id="password"
              [class.is-invalid]="submitted && loginForm.get('password')?.errors">
              <label for="password">Password</label>
              <span class="text-primary" *ngIf="submitted && loginForm.get('password')?.hasError('required')">
                Password is required
                </span>
            </div>

            <div class="form-floating" *ngIf="errorMessages.length> 0 ">
              <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            </div>

            <div class="d-grid mt-4">
              <button class="btn btn-outline-secondary" type="submit">Login</button>
            </div>

            <div class="mt-4 text-center"> Dont have an account ?
              <a href="/account/register" class="btn btn-link">
                Sign-Up
              </a>
            </div>

          </form>
          <div class="mt-4 text-center">
            <a href="#" class="btn btn-link">
              <h6>Forgot username or password</h6>
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
